body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #01224f;
}

h1{
    color: white;
}

.text {
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    width: 70%;
    font-family: Arial;
}

.button_container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 1vh;
    right: 20px;
}

.login-btn {
    background-color: #01224f;
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    z-index: 1;
    font-weight: bold;
    font-family: Arial;
    padding: 9px 25px 9px 35px;
}

.icon-container {
    font-size: 20px;
    color: #01224f;
    background-color: white;
    padding: 2.5px 5px;
    margin-right: -28px;
    border-radius: 50%;
    border-style: double;
    z-index: 2;
}

.name {
    font-size: 30px;
    color: #01224f;
    z-index: 2;
    position: absolute;
    top: -2vh;
    left: 20px;
    font-family: Arial;
}

.header {
    padding-right: 50vw;
    padding-left: 50vw;
    padding-top: 6vh;
    position: absolute;
    top: 0px;
    background: #daeaf8;
}

