.header {
    padding: 60px 40px;
    background: #01224f;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    position: absolute;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.loading{
    text-align: center;
    font-size: 15px;
    color: #01224f;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #daeaf8;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border: 2px solid #daeaf8;
    outline: none;
}

button {
    width: 50%;
    padding: 12px;
    background-color: #daeaf8;
    color: #01224f;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    color: #01224f;
    background-color: #7cbef8;
}

a {
    color: #ffffff;
}

a:hover {
    color: #7cbef8;
}

h2 {
    margin-top: 10px;
    color: white;
    font-size: xx-large;
    text-align: left;
}

video {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    border-radius: 10px;
}

p {
    text-align: center;
    font-size: 25px;
    color: #daeaf8;
}
