body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    color: #ffffff;
}

.logo-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 20px;
    color: #daeaf8;
    z-index: 2;
    position: absolute;
    top: 1vh;
    left: 10px;
}

.toursp {
    text-decoration: underline !important;
    color: #01224f !important;
    font-weight: bold !important;
}


#tourContent {
    width: 100%;
    max-width: 90vw;
}

#calculator {
    position: absolute;
    top: 22vh;
    left: 60vw;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 6px 8px 20px 3px rgb(1 34 79);
    width: 25vw;
}

.dropdown{
    border-bottom: 1px solid #01224f;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    width: 80%;
    height: 30px;
    font-family: Arial;
    background-color: #ffffff;
    font-size: 15px;
}

.plus{
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}

.plus:hover{
    color:#4ea8ff;
}

.table-container {
    width: 43%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 6px 8px 20px 3px rgb(1 34 79);
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    text-transform: uppercase;
    padding: 12px;
    font-family: arial;
    font-size: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    font-family: arial;
    background-color: #01224f;
    color: white;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #ff8a8a;
    cursor: grab;
}