body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
}

.button_tour {
    width: 50%;
    padding: 12px;
    background-color: #7ab0ff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.button_tour:hover {
    color: #ffffff;
    background-color: #00142f;
}

a {
    color: #ffffff;
}

a:hover {
    color: #000000;
}


.logoutButton {
    background-color: #4ea8ff;
    border: none;
    border-radius: 50px;
    padding: 10px 25px;
    color: white;
    cursor: pointer;
    z-index: 1;
    font-weight: bold;
}

.logoutButton:hover{
    background-color: #00142f;
}

.newTour{
    position: absolute;
    top: 32vh;
}


.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.icon-container{
    font-size: 20px;
    color: #4ea8ff;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    border-style: double;
    z-index: 2;
    position: absolute;
    top: 20px;
    right: 20px;
}

.icon-container:hover {
    background-color: #0281fc;
}

.content {
    background-color: #ffffff;
    margin-top: 10px;
    border: 1px solid #4ea8ff;
    border-radius: 10px;
    position: absolute;
    top: 7vh;
    right: 20px;
    padding: 10px;
    display: none;
}

.header {
    padding-right: 50vw;
    padding-left: 50vw;
    padding-top: 25vh;
    position: absolute;
    top: 0px;
    background: #02427f;
}

.banner {
    width: 60vw;
    padding: 0px 20px;
    position: absolute;
    top: 22vh;
    background: rgb(100 149 237);
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.box,
.boxTours {
    width: 60vw;
    border-radius: 30px;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: white;
    border: 2px dashed darkgray;
    cursor: pointer;
}

.box:hover,
.boxTours:hover {
    border-color: #4ea8ff;
    color: #4ea8ff;
    background-color: white ;
}

.boxTours{
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.tour-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: -3vw;
}

.tour-status {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}

.toursp {
    text-decoration: underline;
    color: #02427f;
    font-weight: bold;
    margin-right: 20px;
}

.offestp {
    text-decoration: none;
    color: lightblue;
    font-weight: bold;
}

.tours-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 60vh;
}

.tour-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.tour-name {
    font-size: 24px;
    font-weight: bold;
    flex: 1;
    color: black;
    margin-left: 20px;
}

.tour-icons {
    display: flex;
    flex: 2;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.icon-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon-group i {
    font-size: 24px;
}

.transport-icons {
    display: flex;
    gap: 10px;
}

.transport-icons i {
    font-size: 24px;
    color: lightblue;
}

.transport-icons i.active {
    color: darkblue;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

th{
    background: rgb(100 149 237);
}

#tourContent {
    width: 100%;
    max-width: 90vw;
}


#legs {
    flex: 1;
    min-width: 50%;
    position: absolute;
    top: 37vh;
}

#calculator {
    position: absolute;
    top: 35vh;
    left: 60vw;
}


.selectionBox {
    padding: 40px;
    background: #3C7DDB;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.inputTour{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border 0.3s;
}

.inputTour:focus{
    border: 2px solid #3C7DDB;
    outline: none;
}

.table-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 30vh;
}

.dropdown{
    border-color: rgb(100 149 237);
    border-radius: 10px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.headings{
    color: rgb(100 149 237);
    font-size: x-large;
    font-family: cursive;
}

.smallButton{
    border: 2px solid #4ea8ff;
    background-color: white;
    color: #4ea8ff;
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
}

.smallButton:hover{
    border: 2px solid #02427f;
    color: #02427f;
}