<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/aboutPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
<img class="logo" src="images/EcoTour.png" alt="LOGO">

<p class="text">The aim of this dissertation is to create an application that can be utilised by you, a musician to both calculate your emissions and allow you to calculate offsets.<br><br>
    It will promote sustainability by leading by example in your target market of people in the age range 15-35.<br><br>
    The whole world is trying to mitigate climate change and soon it will be expected of musicians.<br><br>
    This application will help you as musicians make your concerts more sustainable thus joining the world in mitigating climate change.<br><br>
    Please click LOG IN to create an account and start helping the planet.<br><br>
    Enter as many tours as you wish!!!<br><br>
</p>
<div class="header"></div>
<p class="name">ABOUT</p>
<div class="button_container">
    <div class="icon-container">
        <i class="fa-solid fa-user"></i>
    </div>
    <button class="login-btn" onclick="window.location.href = '/loginScreen';">
        LOG IN
    </button>
</div>

</body>
</html>
