<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Video</title>
    <link rel="stylesheet" href="/css/loginStyle.css">

    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-auth-compat.js"></script>

    <script src="/javascript/firebase-auth.js"></script>
</head>
<body onload="checkAuth()">

<div class="header" id="box">
    <img src="images/EcoTour.png" alt="LOGO" width="150" height="150" >
    <div id="loginForm">
        <h2 style="font-family: Arial">Login</h2>
        <input style="font-family: Arial" type="email" id="email" placeholder="Email">
        <input style="font-family: Arial" type="password" id="password" placeholder="Password">
        <button style="font-family: Arial" onclick="login()">Login</button>
        <br><br>
        <div>
            <a style="font-family: Arial;display: inline-block;margin-right: 40px;" href="#" onclick="resetPassword()">Forgot Password?</a>
            <a href="javascript:void(0);" onclick="toggleForm()" style="font-family: Arial">Create Account</a>
        </div>
    </div>

    <form id="signupForm" style="display: none;">
        <h2 style="font-family: Arial">Create Account</h2>
        <input style="font-family: Arial" type="email" id="signupEmail" placeholder="Email">
        <input style="font-family: Arial" type="password" id="signupPassword" placeholder="Password">
        <button style="font-family: Arial" type="button" onclick="signup()">Sign Up</button>
        <br><br>
        <div>
            <a style="font-family: Arial;display: inline-block;margin-right: 40px;" href="#" onclick="resetPassword()">Forgot Password?</a>
            <a style="font-family: Arial" href="javascript:void(0);" onclick="toggleForm()">Back to Login</a>
        </div>
    </form>
</div>

<div id="videoSection" style="visibility: hidden;">
    <video id="introVideo" muted>
        <source src="images/loading_video_2.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <p class="loading">Loading ...</p>
</div>

<script>

    function toggleForm() {
        var loginForm = document.getElementById("loginForm");
        var signupForm = document.getElementById("signupForm");

        if (loginForm.style.display === "none") {
            loginForm.style.display = "block";
            signupForm.style.display = "none";
        } else {
            loginForm.style.display = "none";
            signupForm.style.display = "block";
        }
    }

    document.getElementById("introVideo").addEventListener("ended", function () {
        window.location.href = "/SelectTour";
    });
</script>
</body>
</html>
