<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Tour</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-firestore-compat.js"></script>
    <link rel="stylesheet" href="/css/tourStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <script src="/javascript/firebase-auth.js"></script>
</head>
<body onload="newLegCheck()">

<div class="header"></div>
<div class="banner">
    <p class="toursp">Tours</p>
    <a class="offestp" href="/offsets">Offsets</a>
</div>
<div class="icon-container" onclick="toggleCollapsible()">
    <i class="fa-solid fa-user"></i>
</div>

<div class="content">
    <p id="userInfo" style="display: none;"></p>
    <div id="logoutSection" style="display: none;">
        <button class="logoutButton" onclick="logout()">Logout</button>
    </div>
</div>

<div id="tourContent">
    <div th:if="${currentLegs != null}" id="legs" style="position: absolute; top: 30vh;">

        <div th:if="${tourName != null}" >
            <p class="headings" id="tourNameHeaderText" th:text="${tourName}"></p>
        </div>
        <br><br>

        <table class="tour-table">
            <thead>
            <tr>
                <th>Departure</th>
                <th>Arrival</th>
                <th>Distance (km)</th>
                <th>Emissions (kg CO₂)</th>
                <th>Seats</th>
                <th>Vehicle</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tour : ${currentLegs.legsOfTour}">
                <td th:text="${tour.getDeparture()}"></td>
                <td th:text="${tour.getArrival()}"></td>
                <td th:text="${tour.getDistance()}"></td>
                <td th:text="${tour.getCarbonEmissions()}"></td>
                <td th:text="${tour.getSeats()}"></td>
                <td th:text="${tour.getVehicle()}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="calculator">
        <label class="headings" for="vehicle">Vehicle : </label>
        <select class="dropdown" id="vehicle" name="vehicle" required onchange="updateVehicle()">
            <option value="car">Car</option>
            <option value="bus">Bus</option>
            <option value="train">Train</option>
            <option value="plane">Plane</option>
        </select>
        <br><br>

        <div id="planeForms" style="display:none;">
            <form id="planeForm" action="/getPlanes" method="get">
                <button type="submit">Find Airports</button>
            </form>
            <br><br>

            <form id="planeCarbonForm" action="/getPlaneCarbon" method="get">

                <label for="dep">Select Departure:</label>
                <select id="dep" name="dep">
                    <option value="">-- Select a Departure --</option>
                </select>

                <label for="arr">Select Arrival:</label>
                <select id="arr" name="arr">
                    <option value="">-- Select an Arrival --</option>
                </select>

<!--                <label for="isConcertPlane">Is this a concert?</label>-->
<!--                <select id="isConcertPlane" name="isConcertPlane" onchange="toggleSeatsInputPlane()">-->
<!--                    <option value="no">No</option>-->
<!--                    <option value="yes">Yes</option>-->
<!--                </select>-->

                <input type="checkbox" id="isConcertCheckPlane" name="isConcertCheckPlane" value="yes" onchange="toggleSeatsInputPlane()">
                <label for="isConcertCheckPlane"> Is this a new venue?</label><br>

                <div id="seatsFormPlane" style="display:none;">
                    <label for="seats">Number of Seats:</label>
                    <input type="number" id="seats" name="seats" min="1">
                </div>
                <br><br>

                <input type="hidden" id="isConcertPlane" name="isConcertPlane">

                <button type="submit">Calculate Carbon</button>
            </form>
            <br><br>
        </div>


        <div id="carForms" style="display:none;">
            <select id="carDropdown" name="carDropdown" onchange="updateCar()">
                <option value="">-- Select a Car --</option>
            </select>

            <form id="newCarForm" action="/car" method="get">
                <button type="submit">New Car</button>
            </form>
        </div>

        <div id="transportForm" style="display:none;">
            <form id="carbonSubmitForm" action="/calculateCarbon" method="get">

                <label class="headings" for="origin">Origin :</label>
                <input type="text" id="origin" name="origin" required>
                <br><br>

                <label class="headings" for="destination">Destination :</label>
                <input type="text" id="destination" name="destination" required>
                <br><br>

                <div id="busForms" style="display:none;">
                    <label for="bus">Select Bus Type:</label>
                    <select id="bus" name="bus" required>
                        <option value="mini_bus"> Mini Bus </option>
                        <option value="camper_van"> Camper Van </option>
                        <option value="coach"> Coach </option>
                        <option value="double_decker"> Double Decker Bus </option>
                    </select>
                </div>
                <br><br>

<!--                <label for="isConcert">Is this a concert?</label>-->
<!--                <select id="isConcert" name="isConcert" onchange="toggleSeatsInput()">-->
<!--                    <option value="no">No</option>-->
<!--                    <option value="yes">Yes</option>-->
<!--                </select>-->

                <input type="checkbox" id="isConcertCheck" name="isConcertCheck" value="yes" onchange="toggleSeatsInput()">
                <label for="isConcertCheck"> Is this a new venue?</label><br>

                <div id="seatsForm" style="display:none;">
                    <label for="seats">Number of Seats:</label>
                    <input type="number" id="seats" name="seats" min="1">
                </div>
                <br><br>

                <input type="hidden" id="selectedCar" name="selectedCar">
                <input type="hidden" id="selectedVehicle" name="selectedVehicle">
                <input type="hidden" id="isConcert" name="isConcert">

                <button type="submit">Calculate</button>
            </form>
        </div>
        <br><br>

        <button onclick="window.location.href = '/tours';">
            CANCEL
        </button>
    </div>
</div>

<script>
    function toggleCollapsible() {
        var content = document.querySelector(".content");
        var userInfo = document.getElementById("userInfo");
        var logoutSection = document.getElementById("logoutSection");

        if (content.style.display === "none" || content.style.display === "") {
            content.style.display = "block";
            userInfo.style.display = "block";
            logoutSection.style.display = "block";
        } else {
            content.style.display = "none";
            userInfo.style.display = "none";
            logoutSection.style.display = "none";
        }
    }

    function toggleSeatsInput() {
        var seatsForm = document.getElementById("seatsForm");

        if(seatsForm.style.display === "block"){
            seatsForm.style.display = "none";
            document.getElementById("isConcert").value = "no";
            console.log("changed to no");
        } else{
            seatsForm.style.display = "block"
            document.getElementById("isConcert").value = "yes";
            console.log("changed to yes");
        }
    }

    function toggleSeatsInputPlane() {
        var seatsForm = document.getElementById("seatsFormPlane");

        if(seatsForm.style.display === "block"){
            seatsForm.style.display = "none";
            document.getElementById("isConcertPlane").value = "no";
        } else{
            seatsForm.style.display = "block"
            document.getElementById("isConcertPlane").value = "yes";
        }
    }

    function updateCar(){
        document.getElementById("selectedCar").value = document.getElementById("carDropdown").value;
    }

    function updateVehicle(){
        document.getElementById("selectedVehicle").value = document.getElementById("vehicle").value;
    }

</script>

<script src="/javascript/calculator-response.js"></script>

</body>
</html>
