<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Specific Tour</title>

    <link rel="stylesheet" href="/css/tourStyle.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-firestore-compat.js"></script>


    <script src="/javascript/firebase-auth.js"></script>
</head>
<body onload="checkAuthCarbon()">

<div class="header"></div>
<div class="logo-container">
    <img src="images/EcoTour.png" alt="LOGO" width="80" height="80">
</div>

<div class="banner">
    <a class="toursp" href="/SelectTour">Edit/Add Tour</a>
    <a class="pasttourp" href="/tours">Past Tours</a>
    <a class="offestp" href="/offsets">Offsets</a>
    <a class="sample" href="/sampleTicket">Sample Ticket</a>
</div>

<div class="icon-container" onclick="toggleCollapsible()">
    <i class="fa-solid fa-user"></i>
</div>

<div class="content">
    <p id="userInfo" style="display: none;"></p>
    <div id="logoutSection" style="display: none;">
        <button class="logoutButton" onclick="logout()">Logout</button>
    </div>
</div>

<div class="table-container">
    <div class="allTour">
        <h2 style="font-family: Arial" th:text="${tourName}">Tour Name</h2>
        <button class="logoutButton" onclick="window.location.href = '/tours';">
            ALL TOURS
        </button>
    </div>
    <table class="tour-table">
        <thead>
        <tr>
            <th>Departure</th>
            <th>Arrival</th>
            <th>Distance (km)</th>
            <th>Fuel (L)</th>
            <th>Emissions (kg CO₂)</th>
            <th>Concert</th>
            <th>Seats</th>
            <th>Vehicle</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tour : ${specificToursData}">
            <td th:text="${tour.departure}"></td>
            <td th:text="${tour.arrival}"></td>
            <td th:text="${tour.distance}"></td>
            <td th:text="${tour.fuel}"></td>
            <td th:text="${tour.carbonEmissions}"></td>
            <td th:text="${tour.concert}"></td>
            <td th:text="${tour.seats}"></td>
            <td th:text="${tour.vehicle}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    function toggleCollapsible() {
        var content = document.querySelector(".content");
        var userInfo = document.getElementById("userInfo");
        var logoutSection = document.getElementById("logoutSection");

        if (content.style.display === "none" || content.style.display === "") {
            content.style.display = "block";
            userInfo.style.display = "block";
            logoutSection.style.display = "block";
        } else {
            content.style.display = "none";
            userInfo.style.display = "none";
            logoutSection.style.display = "none";
        }
    }
</script>

</body>
</html>
