<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tours</title>

    <link rel="stylesheet" href="/css/tourStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-firestore-compat.js"></script>
    <script src="/javascript/firebase-auth.js"></script>
</head>
<body onload="checkAuthCarbon()">
<div class="header"></div>
<div class="container">
    <img src="images/EcoTour.png" alt="LOGO" width="105" height="100">
</div>
<div class="banner">
    <p class="toursp">Tours</p>
    <a class="offestp" href="/offsets">Offsets</a>
</div>
<div class="icon-container" onclick="toggleCollapsible()">
    <i class="fa-solid fa-user"></i>
</div>

<div class="content">
    <p id="userInfo" style="display: none;"></p>
    <div id="logoutSection" style="display: none;">
        <button class="logoutButton" onclick="logout()">Logout</button>
    </div>
</div>

<form class="newTour" id="makeNewTour" action="/SelectTour" method="get">
    <button class="box" type="submit">New Tour</button>
</form>
<br><br>

<h1 style="margin-top: -120px;">Past Tours</h1>

<div class="tours-container">
    <div th:each="tour : ${overTours}">
        <div class="tour-wrapper">
            <span th:switch="${tour.getOffset}" class="tour-status">
                <span th:case="true">
                    <i class="fa fa-check" style="color: #daeaf8"></i>
                </span>
                <span th:case="false">
                    <i class="fa-solid fa-hourglass-end" style="color: #01224f"></i>
                </span>
            </span>
            <form id="specificTour" action="/getSpecificTour" method="get"  class="boxTours">
                <input type="hidden" name="tourName" th:value="${tour.tourName}" />
                <button type="submit" style="display: none;">Submit</button>
                <div class="tour-content" onclick="this.closest('form').submit()">
                    <h2 th:text="${tour.tourName}" class="tour-name">Tour Name</h2>
                    <div class="tour-icons">
                        <div class="icon-group">
                            <i class="fas fa-users"></i>
                            <p th:text="${tour.noOfConcerts} + ' Concerts'" class="concerts"></p>
                        </div>
                        <div class="icon-group">
                            <i class="fas fa-shoe-prints"></i>
                            <p th:text="${tour.carbonEmissions} + ' kg CO₂'" class="carbon-emissions"></p>
                        </div>
                        <div class="icon-group">
                            <i class="fas fa-chair"></i>
                            <p th:text="${tour.noOfSeats} + ' Seats'" class="seats"></p>
                        </div>
                        <div class="transport-icons">
                            <i class="fas fa-car transport" data-mode="car" th:style="'color: ' + (${tour.modesOfTransport.contains('car')} ? '#01224f' : '#daeaf8')"></i>
                            <i class="fas fa-bus transport" data-mode="bus" th:style="'color: ' + (${tour.modesOfTransport.contains('bus')} ? '#01224f' : '#daeaf8')"></i>
                            <i class="fas fa-plane transport" data-mode="plane" th:style="'color: ' + (${tour.modesOfTransport.contains('plane')} ? '#01224f' : '#daeaf8')"></i>
                            <i class="fas fa-train transport" data-mode="train" th:style="'color: ' + (${tour.modesOfTransport.contains('train')} ? '#01224f' : '#daeaf8')"></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    function toggleCollapsible() {
        var content = document.querySelector(".content");
        var userInfo = document.getElementById("userInfo");
        var logoutSection = document.getElementById("logoutSection");

        if (content.style.display === "none" || content.style.display === "") {
            content.style.display = "block";
            userInfo.style.display = "block";
            logoutSection.style.display = "block";
        } else {
            content.style.display = "none";
            userInfo.style.display = "none";
            logoutSection.style.display = "none";
        }
    }

</script>

</body>
</html>