<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tours</title>

    <link rel="stylesheet" href="/css/tourStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-firestore-compat.js"></script>


    <script src="/javascript/firebase-auth.js"></script>
</head>
<body onload="checkAuthCarbon()">

<div class="header"></div>
<div class="banner">
    <p class="toursp">Tours</p>
    <a class="offestp" href="/offsets">Offsets</a>
</div>
<div class="icon-container" onclick="toggleCollapsible()">
    <i class="fa-solid fa-user"></i>
</div>

<div class="content">
    <p id="userInfo" style="display: none;"></p>
    <div id="logoutSection" style="display: none;">
        <button class="logoutButton" onclick="logout()">Logout</button>
    </div>
</div>

<form id="makeNewTour" action="/newTour" method="get">
    <button class="box" type="submit">New Tour</button>
</form>
<br><br>

<h1>Past Tours</h1>

<div class="tours-container">
    <div th:each="tour : ${userTours}" class="tour-box">
        <h2 th:text="${tour.tourName}">Tour Name</h2>
        <ul>
            <li th:each="leg : ${tour.legsOfTour}">
                <strong>Departure:</strong> <span th:text="${leg.departure}"></span> |
                <strong>Arrival:</strong> <span th:text="${leg.arrival}"></span> |
                <strong>Distance:</strong> <span th:text="${leg.distance}"></span> km |
                <strong>Fuel:</strong> <span th:text="${leg.fuel}"></span> L |
                <strong>Emissions:</strong> <span th:text="${leg.carbonEmissions}"></span> kg CO₂
                <strong>Concert:</strong> <span th:text="${leg.concert}"></span> |
                <strong>Seats:</strong> <span th:text="${leg.seats}"></span> |
                <strong>Vehicle:</strong> <span th:text="${leg.vehicle}"></span>
            </li>
        </ul>
    </div>
</div>

<script>
    function toggleCollapsible() {
        var content = document.querySelector(".content");
        var userInfo = document.getElementById("userInfo");
        var logoutSection = document.getElementById("logoutSection");

        if (content.style.display === "none" || content.style.display === "") {
            content.style.display = "block";
            userInfo.style.display = "block";
            logoutSection.style.display = "block";
        } else {
            content.style.display = "none";
            userInfo.style.display = "none";
            logoutSection.style.display = "none";
        }
    }

</script>

</body>
</html>